<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="POB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </configSections>
    <userSettings>
        <POB.Properties.Settings>
            <setting name="opbNome" serializeAs="String">
                <value>opbNome</value>
            </setting>
            <setting name="opbNomeIFCPilar" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="obpNomeIFCViga" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="opbNomeIFCLaje" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="nomePainelFerramentaModelagem" serializeAs="String">
                <value>Contrutivel</value>
            </setting>
            <setting name="nomeAbaEstrutura" serializeAs="String">
                <value>Estrutura</value>
            </setting>
            <setting name="L7InsumoVinculado" serializeAs="String">
                <value>Descrição do Insumo</value>
            </setting>
            <setting name="Mark" serializeAs="String">
                <value>Marca</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>Volume</value>
            </setting>
            <setting name="Comments" serializeAs="String">
                <value>Comentários</value>
            </setting>
            <setting name="Area" serializeAs="String">
                <value>Área</value>
            </setting>
            <setting name="Thickness" serializeAs="String">
                <value>Espessura</value>
            </setting>
            <setting name="Diameter" serializeAs="String">
                <value>Diâmetro</value>
            </setting>
            <setting name="systemType" serializeAs="String">
                <value>Tipo de sistema</value>
            </setting>
            <setting name="Elevation" serializeAs="String">
                <value>Elevação</value>
            </setting>
            <setting name="structuralColumns" serializeAs="String">
                <value>Pilares estruturais</value>
            </setting>
            <setting name="L7Unidade" serializeAs="String">
                <value>Unidade do insumo</value>
            </setting>
            <setting name="L7Comprimento" serializeAs="String">
                <value>Comprimento do insumo</value>
            </setting>
            <setting name="Material" serializeAs="String">
                <value>Material</value>
            </setting>
            <setting name="walls" serializeAs="String">
                <value>Paredes</value>
            </setting>
            <setting name="parts" serializeAs="String">
                <value>Peças</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>Colunas</value>
            </setting>
            <setting name="structuralFraming" serializeAs="String">
                <value>Quadro estrutural</value>
            </setting>
            <setting name="structuralTrusses" serializeAs="String">
                <value>Treliças estruturais</value>
            </setting>
            <setting name="telhados" serializeAs="String">
                <value>Telhados</value>
            </setting>
            <setting name="floors" serializeAs="String">
                <value>Pisos</value>
            </setting>
            <setting name="forros" serializeAs="String">
                <value>Forros</value>
            </setting>
            <setting name="furniture" serializeAs="String">
                <value>Mobiliário</value>
            </setting>
            <setting name="genericModels" serializeAs="String">
                <value>Modelos genéricos</value>
            </setting>
            <setting name="GuardaCorpos" serializeAs="String">
                <value>Guarda-corpos</value>
            </setting>
            <setting name="Janelas" serializeAs="String">
                <value>Janelas</value>
            </setting>
            <setting name="flexPipes" serializeAs="String">
                <value>Tubulação flexível</value>
            </setting>
            <setting name="escadas" serializeAs="String">
                <value>Escadas</value>
            </setting>
            <setting name="equipamentoEspecial" serializeAs="String">
                <value>Equipamento especial</value>
            </setting>
            <setting name="electricalFixtures" serializeAs="String">
                <value>Equipamento elétrico</value>
            </setting>
            <setting name="pipes" serializeAs="String">
                <value>Tubulação</value>
            </setting>
            <setting name="pipeFittings" serializeAs="String">
                <value>Conexões de tubo</value>
            </setting>
            <setting name="pipeAccessories" serializeAs="String">
                <value>Acessórios do tubo</value>
            </setting>
            <setting name="plumbingFixtures" serializeAs="String">
                <value>Equipamentos hidráulicos</value>
            </setting>
            <setting name="Sprinklers" serializeAs="String">
                <value>Sprinklers</value>
            </setting>
            <setting name="mechanicalEquipament" serializeAs="String">
                <value>Equipamento mecânico</value>
            </setting>
            <setting name="GrossWeigth" serializeAs="String">
                <value>GrossWeigth</value>
            </setting>
            <setting name="tocChapa" serializeAs="String">
                <value>Chapa</value>
            </setting>
            <setting name="tocDensidadeChapa" serializeAs="String">
                <value>Densidade de área</value>
            </setting>
            <setting name="handleAta" serializeAs="String">
                <value>0004121A</value>
            </setting>
        </POB.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
<entityFramework>
<providers>
<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
</providers>
</entityFramework>
</configuration>
